In [66]:
import os
import pandas as pd
import lightningchart as lc

In [67]:
with open("license_key.txt", "r") as file:  # License key is stored in 'license_key.txt'
    key = file.read()
lc.set_license(key)

In [68]:
df = pd.read_csv("data/diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [79]:
glucose = df["Glucose"].tolist()
BMI = df["BMI"].tolist()
outcome = df["Outcome"].tolist()
scatter = lc.ChartXY(
    theme=lc.Themes.White,
    title='Glucose v BMI'
)

series = scatter.add_point_series(
    lookup_values=True,
)

series.append_samples(
    x_values=BMI,
    y_values=glucose,
    lookup_values=outcome
)

series.set_palette_colors(
    steps=[
        {'value': 0, 'color': lc.Color(0, 255, 0, 128)},
        {'value': 1, 'color': lc.Color(255, 0, 0, 128)},
    ],
    look_up_property='value',
    percentage_values=False
)
scatter.get_default_x_axis().set_title("BMI")
scatter.get_default_y_axis().set_title("Glucose")
scatter.open()

In [80]:
age = df["Age"].tolist()
scatter3d = lc.ScatterChart3D(
    x=BMI,
    y=glucose,
    z=age,
    point_type='sphere',
    point_size=10,
    theme=lc.Themes.White,
    title='3D Scatter Chart',
    xlabel='x',
    ylabel='y',
    zlabel='z'
)
'''
series = scatter3d.series.add(
    x_values=BMI,
    y_values=glucose,
    z_values=age,
    #lookup_values=outcome
)

series.set_palette_point_colors(
    steps=[
        {'value': 0, 'color': lc.Color(0, 255, 0, 128)},
        {'value': 1, 'color': lc.Color(255, 0, 0, 128)},
    ],
    look_up_property='value',
    percentage_values=True
)'''
scatter3d.open()

In [71]:
ages = df["Age"]
print("Min age: ", min(ages), "\nMax: ", max(ages))

Min age:  21
Max:  81

In [72]:
bins = [20, 30, 50, 81]
labels = ['21-30', '31-50', '51-81']

df["Age_range"] = pd.cut(df["Age"], bins=bins, labels=labels, right=True)
df["Outcome_label"] = df["Outcome"].replace({0: 'Diabetes Negative', 1: 'Diabetes Positive'})

df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age_range,Outcome_label
0,6,148,72,35,0,33.6,0.627,50,1,31-50,Diabetes Positive
1,1,85,66,29,0,26.6,0.351,31,0,31-50,Diabetes Negative
2,8,183,64,0,0,23.3,0.672,32,1,31-50,Diabetes Positive
3,1,89,66,23,94,28.1,0.167,21,0,21-30,Diabetes Negative
4,0,137,40,35,168,43.1,2.288,33,1,31-50,Diabetes Positive
...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,51-81,Diabetes Negative
764,2,122,70,27,0,36.8,0.340,27,0,21-30,Diabetes Negative
765,5,121,72,23,112,26.2,0.245,30,0,21-30,Diabetes Negative
766,1,126,60,0,0,30.1,0.349,47,1,31-50,Diabetes Positive
767,1,93,70,31,0,30.4,0.315,23,0,21-30,Diabetes Negative

In [81]:
outcome_counts = df.groupby(['Age_range', 'Outcome_label'], observed=True).size().unstack(fill_value=0).reset_index()

result = []
for outcome_label in ['Diabetes Negative', 'Diabetes Positive']:
    values = outcome_counts[outcome_label].tolist()
    result.append({
        'subCategory': outcome_label,
        'values': values
    })

In [76]:
barchart_stacked = lc.BarChart(
    vertical=True,
    theme=lc.Themes.White,
    title='Stacked Bar Chart',
).set_value_label_display_mode('insideBar')
barchart_stacked.set_data_stacked(labels, result)
barchart_stacked.add_legend().add(barchart_stacked)
barchart_stacked.open()

In [75]:
glucose_diabetes = df[df['Outcome'] == 0]['Glucose'].values
glucose_no_diabetes = df[df['Outcome'] == 1]['Glucose'].values

boxplt = lc.BoxPlot(
    data=[glucose_diabetes, glucose_no_diabetes],
    theme=lc.Themes.White,
    title='Glucose',
    xlabel='x',
    ylabel='y'
)
boxplt.open()